ion-grid {
  --ion-grid-padding: 0px;

  --ion-grid-column-padding: 30px;

  --ion-grid-column-padding-xs: 30px;
  --ion-grid-column-padding-sm: 30px;
  --ion-grid-column-padding-md: 30px;
  --ion-grid-column-padding-lg: 30px;
  --ion-grid-column-padding-xl: 30px;
}


.Login-box {
  background-color: rgba(255, 255, 255, 0.03);
  max-width: 400px;
  height: fit-content;
  margin: auto;
  width: "100%";
  text-align: center;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-inline: 25px;
  border-radius: 14px;
  border: 2px solid rgba(8, 7, 16, 0.35);
  box-shadow: 0 0 60px rgba(8, 7, 16, 0.9);

}

.Login-box * {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}

.background {
  background: url(resources/Rectangle1.png);
  background-size: cover;
  background-repeat: no-repeat;
}