.SearchDialog {
  &__trigger,
  &__input {
    --box-shadow: none;
    --background: #f6f6f6;
    --border-radius: 10px;
  }
  &__trigger input {
    cursor: pointer;
  }
  &__modal {
    --width: 800px;
    --border-radius: 20px;
    backdrop-filter: blur(3px);
  }
}
